html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home body{
  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('gymPictureCropped.jpg');
  background-size: 115% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: static;
}

body{
  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('greenBlurredBackground.png');
  background-size: 115% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: static;
}

a {
  text-decoration: none;
  color: #221330;
  font-family: 'Inter',  Arial, Helvetica, sans-serif;
}

.positionHeader {
  top: 0;
  left: 0;
  position: relative;
  height: 100%;
  width: 1920px;
}

.nav-container {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 65px;
  position: relative;
}

.positionLogo {
  top: 0;
  left: 0;
  width: 81.3px;
  margin: 15px;
  margin-top: 23px;
  margin-bottom: 17px;
  position: absolute;
}

.gymImage-container {
  float: right;
  overflow: hidden;
}

.positionGymImage {
  margin-top: 65px;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
}

.nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.nav li {
  display: inline;
  float: right;
  padding: 16.6px;
  padding-top: 26px;
  padding-bottom: 29px;
  font-size: 80%;
}

.title-container {
  width: 100%;
  height: 50%;
}

.title1 {
  font-size: 350%;
  color: #ffffff;
  text-align: center;
  padding-top: 8%;
  padding-right: 5%;
  padding-left: 5%;
}

.title2 {
  color: #ffffff;
  font-weight: 450;
  text-align: center;
  margin-top: -4%;
  padding-right: 5%;
  padding-left: 5%;
  line-height: 130%;
  margin-bottom: -10%;
}

.input-container {
  top: 0;
  padding: 0;
  margin-top: 10%;
  width: 100%;
}

.productMargin {
  padding-top: 8%;
}

.title3 {
  font-size: 250%;
  color: #ffffff;
  text-align:center;
  padding-left: 4%;
  padding-right: 4%;
  font-weight: 350;
  margin-top: 10%;
}

.title4 {
  color: #ffffff;
  font-size: 120%;
  font-weight: 250;
  padding-right: 9%; 
  padding-left: 9%;
  line-height: 150%;
  text-align: left;
}

@media only screen and (min-width: 960px) {
  .gymImage-container {
    height: 100%;
    width: 40%;
    float: right;
    overflow: hidden;
    margin-top: -80px;
  }
  .positionGymImage {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
  }

  body, .home body{
    font-family: Arial;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('greenBlurredBackground.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .title-container {
    top: 0;
    width: 60%;
    height: 60%;
  }
  .input-container {
    top: 0;
    padding: 0;
    margin-top: -12%;
    margin-left: 2%;
    width: 100%;
  }
  .title1 {
    font-size: 450%;
    width: 80%;
    color: #ffffff;
    text-align: center;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
  }
  .title2 {
    color: #ffffff;
    font-weight: 450;
    text-align: center;
    margin-top: -3%;
    padding-right: 15%;
    padding-left: 15%;
    line-height: 130%;
  }
  input[type="email"] {
    width: 80%;
    padding: 0;
    margin: 0;
    /* size: 150; */
    /* padding: 10px;
    margin: 10%; */
    /* font-size: 16px; */
    /* border: 1px solid #ccc;
    border-radius: 4px; */
  }

  .title3 {
    font-size: 250%;
    color: #ffffff;
    text-align:left;
    padding-right: 30%;
    padding-left: 12%;
    font-weight: 350;
    margin-top: 5%;
  }
  
  .title4 {
    color: #ffffff;
    font-size: 120%;
    font-weight: 350;
    padding-right: 10%;
    padding-left: 10%;
    text-align: left;
  }
  .productMargin {
    padding-top: 3%;
  }
}

@media only screen and (min-width: 500px) {
  .nav li {
    display: inline;
    float: right;
    padding: 35px;
    font-size: 100%;
  }
  .positionLogo {
    top: 0;
    left: 0;
    width: 130px;
    margin: 20px;
    position: absolute;
  }
  .nav-container {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 80px;
    position: relative;
  }
}

.visualise {
  background-color: blueviolet;
}

input[type="email"] {
  width: 300px;
  padding: 0;
  /* size: 150; */
  /* padding: 10px;
  margin: 10%; */
  /* font-size: 16px; */
  /* border: 1px solid #ccc;
  border-radius: 4px; */
}

input[type="email"]::placeholder {
  color: lightgray;
  left: auto;
}

input[type="email"]:hover {
  background-color: #f0f0f0;
  border-color: #555; /* Darker border */
}

.submit-button {
  background-color: black;
  color: white;
  padding: 11px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.email-submit-margin {
  margin: -10%;
}

.submit-button:hover {
  background-color: #333;
}

.contact-container {
  margin: 0;
  height: 50%;
}

textarea[type="text"] {
  width: 40%;
  height: 150px;
  padding: 15px;
  margin-left: 10%;
  margin-top: -8%;
  margin-bottom: 4%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea[type="text"]::placeholder {
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  left: auto;
}

textarea[type="text"]:hover {
  background-color: #f0f0f0;
  border-color: #555;
}


.contact-title {
  color: #ffffff;
  width: 40%;
  margin-left: 10%;
  margin-top: 5%;
}

.contact-submitButton {
  margin-top: 2%;
  margin-left: -42.5%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


p {
  font-family: Arial; 
  margin-right: 150px;
  margin-left: 100px;
}

.tab {
  margin-left: 150px;
  margin-right: 100px;
}

input[type="email"] {
  width: 30%;
  padding: 10px;
  margin: 10%;
  margin-top: 9%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="email"]::placeholder {
  color: lightgray;
  left: auto;
}

input[type="email"]:hover {
  background-color: #f0f0f0;
  border-color: #555; /* Darker border */
}

input[type="contactEmail"] {
  width: 30%;
  padding: 10px;
  margin: 10%;
  margin-top: 3%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="contactEmail"]::placeholder {
  color: lightgray;
  left: auto;
}

input[type="contactEmail"]:hover {
  background-color: #f0f0f0;
  border-color: #555; /* Darker border */
}